<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nanomarkup.aliolo.test">

    <application android:debuggable="true">
    </application>

    <instrumentation
        android:name="pl.leancode.patrol.PatrolJUnitRunner"
        android:targetPackage="com.nanomarkup.aliolo" />

</manifest>
